.user-details
  .user-detail-profile-box
    .user-detail-photo-box
  .user-rate-area
  .social-media-box
  .items-box-container
    .items-box-head
    .items-box-content
      .items-box
        .items-box-photo
        .items-box-body


  = link_to "#", class: "sell-btn" do
    %div 出品
    = icon('fas', 'camera', class: "camera-icon")