.category-bar{
  height: 120px;
  width: 100%;
  background-color: white;
  margin: 30px 0;
  padding-top: 50px;
  &__box{
  }
  &__text{
    display: block;
    font-size: 28px;
    font-weight: 600;
    width: 230px;
    margin: 0 auto;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    margin-bottom: 10px;
  }
  &__links{
    display: flex;
    width: 560px;
    margin: 0 auto;
    &__link{
      background-color: rgb(245, 245, 245);
      margin-right: 10px;
      padding: 3px 5px;
      text-decoration: none;
      color: black;
      border-radius: 15px;
    }
  }
}