.brand-header
  .brand-header__box
    = link_to "#", class: "brand-header__box__root" do
      メルカリ
    >
    = link_to "#", class: "brand-header__box__brands" do
      ブランド一覧
    >
    = link_to "#", class: "brand-header__box__brand" do
      ブランド
