.item__show
  .item__show__main
    .item__show__main__content
      .item__show__main__content__detail
        %h1.item__name プラダ  リュック  レッド
        .item__photo
          %ul
            %li
              %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}
              %ul
                %li
                  %img{width: "75", height: "75", src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}
                %li
                  %img{width: "75", height: "75", src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/11/a005.png"}
                %li 
                  %img{width: "75", height: "75", src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/12/a006.png"}
        .item__price
          %span.item__price__main ￥8800
          .item__price__detail
            %span (税込)
            %span 送料込み
        .item__message 美味しい料理。フルコース。
        .item__table
          %table{border: "1"}
            %tr 
              %th 出品者
              %td Boss
            %tr 
              %th カテゴリー
              %td
                %a{href: "#"} メンズ  
                %br
                %a{href: "#"} バッグ
                %br
                %a{href: "#"} リュック/バックパック
            %tr 
              %th ブランド
              %td  
                %a{href: "#"} プラダ
            %tr 
              %th 商品のサイズ
              %td 
            %tr 
              %th 商品の状態
              %td 傷や汚れあり
            %tr 
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr 
              %th 配送元地域
              %td 
                %a{href: "#"} 愛知県
            %tr 
              %th 発送日の目安
              %td 1~2日で発送
        .optionalArea
          %ul.star__btn
            %li.star__btn__detail
              %i.fa.fa-star お気に入り 0
          %ul.flag__btn
            %li.flag__btn__detail
              %a{href: "#"}
                %i.fa.fa-flag 不適切な商品の通報
      .item__show__main__content__comment
        .comment__content
          //- @comments.each do |comement|
        %form.new__comment{model: [@item, @comement], local: "true"}
          %textarea{required: "required", name: "comment", id: "id"}
          %p.noticeMsg 
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります

          %button.commentBtn{name: "button", type: "submit"}
            %i.fa.fa-comment コメントする
    %ul.item__show__main__links
      %li
        %a{href: "#"}
          %i.fa.fa-angle-left
          %span 前の商品
      %li
        %a{href: "#"}
          %span 後ろの商品
          %i.fa.fa-angle-right
    .item__show__main__relatedeItems
      %a{href: "#"} メンズをもっと見る
