.item__detail
  %h1.item__name プラダ  リュック  レッド
  .item__main__content
    .item__photo
      .item__photo__main
      .item__photo__sub
    .item__detail__table
      %table 
        %tr 
          %th 出品者
          %tb
        %tr 
          %th カテゴリー
          %tb
        %tr 
          %th ブランド
          %tb
        %tr 
          %th 商品の状態
          %tb 傷や汚れあり
        %tr 
          %th 配送料の負担
          %tb 送料込み(出費者負担)
        %tr 
          %th 配送の方法
          %tb らくらくメルカリ便
        %tr 
          %th 配送元地域
          %tb 愛知県
        %tr 
          %th 発送日の目安
          %tb 1~2日で発送