@import "reset";
@import "modules/items";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "devise/new";
@import "items/index";


html{
  width: 100%;
  height: 100%;
}
body{
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100%;
}

