@import "reset";

@import "modules/mixin";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "modules/items";
@import "devise/new";
@import "devise/login";
@import "modules/user-show";
@import "items/index";
@import "items/show";
@import "brands/index";


html{
  height: 100%;
}
body{
  background-color: rgb(245, 245, 245);
  height: 100%;
}

// * {
//   box-sizing: border-box;
// }

