.brands
  .brands__page
    %h1.brands__page__text
      ブランド一覧
    .brands__page__btn
      =link_to "#", class: "brands__page__btn__link" do
        .brands__page__btn__link__chanel
          %h2.brands__page__btn__link__chanel__text
            シャネル
      =link_to "#", class: "brands__page__btn__link" do
        .brands__page__btn__link__nike
          %h2.brands__page__btn__link__nike__text
            ナイキ
      =link_to "#", class: "brands__page__btn__link" do
        .brands__page__btn__link__vuitton
          %h2.brands__page__btn__link__vuitton__text
            ルイ ヴィトン
      =link_to "#", class: "brands__page__btn__link" do
        .brands__page__btn__link__supreme
          %h2.brands__page__btn__link__supreme__text
            シュプリーム
      =link_to "#", class: "brands__page__btn__link" do
        .brands__page__btn__link__adidas
          %h2.brands__page__btn__link__adidas__text
            アディダス